@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

#content {
    font-size: 22px;
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

body {
    font-family: "Assistant", Helvetica, sans-serif;
    background-color: #B0A990;
    margin: 0;
    padding: 0;
}

header {
    background-color: #011936;
}

#logo_link {
    padding-top: 5px;
}

.logo {
    width: 80px;
}

nav a {
    text-align: center;
    color: #B0A990;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: #B0A990;
    color: #011936;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

.home-title {
    font-family: "Kaushan Script", 'Brush Script MT', cursive;
    font-size: 2em;
    color: #011936;
    margin-top: 10px;
}

h2 {
    font-family: "Kaushan Script", 'Brush Script MT', cursive;
    color: #1E2F23;
    margin: 0;
}

h4 {
    color: #011936;
}

.book, .join {
    font-size: 18px;
    background-color: #011936;
    color: #B0A990;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #B0A990;
    color: #011936;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #1E2F23;
}

#background {
    height: 725px;
    background-color: #1E2F23;
}

.msg {
    background-color: #396e94;
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    font-family: "Kaushan Script", 'Brush Script MT', cursive;
    color: #011936;
}

.msg p {
    font-size: .8em;
    color: #011936;
    padding-bottom: 15px;
}

footer {
    background-color: #011936;
    color: #396e94;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}  

footer p a:hover {
    text-decoration: underline;
}    

footer a {
    color: #B0A990;
    text-decoration: none;
}

footer a:hover {
    color: #396e94;
}

footer .social img {
    padding-top: 15px;
}