@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2&display=swap');

.content {
    font-size: 22px;
    width: 80%;
    max-width: 1600px;
    margin: 0 auto;
}

body {
    font-family: 'Exo 2', Helvetica, sans-serif;
    background-color: #284860;
    margin: 0 auto;
    padding: 0;
    align-content: center;
    justify-content: center;
}

header {
    font-family: 'Audiowide', sans-serif;
    background-color: #020F1F;
    height: 150px;
    width: 110%;
    align-content: center;
    justify-content: center;
    display: flex;
    /* grid-template-columns: 25% 50% 25%; */
    /* grid-template-columns: 150px auto; */
    /* grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px; */
}

.header-content {
    width: 75%;
    justify-self: center;
    align-self: center;
}

#logo_area {
    display: flex;
    padding-right: 50px;
}

#logo_area h1 {
    display: flex;
}

header h1 {
    color: #3168d8;
    justify-self: center;
    align-self: center;
}

h1, h2 {
    font-family: 'Audiowide', sans-serif;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.logo {
    height: 125px;
    grid-column: 2;
}

nav {
    display: flex;
    padding-left: 25px;
    justify-content: space-around;
    align-self: center;
}

nav a {
    text-align: center;
    color: #3168d8;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    font-weight: 900;
    text-transform: uppercase;
    background-color: #3168d8;
    color: #020F1F;
}

.hero {
    justify-content: center;
    align-content: center;
    width: 100%;
}

.hero img {
    width: 100%;
    margin: 100px 25px 50px;
}

.hero h1 {
    color: #EFEFEF;
    text-align: center;
    text-shadow: 3px 3px 5px #3168d8;
    padding: 10px;
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: #EFEFEF;
}

#projects-intro {
    background-color: #020F1F;
    color: #EFEFEF;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    padding: 2.5%;
}

main {
    width: 80%;
    color: #EFEFEF;
    background-color: #020F1F;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
}

main img {
    width: 100%;
    height: auto;
}

#projects-main div {
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 2.5%;
}

.project-left {
    display: flex;
    width: 90%;
}

.project-right {
    display: flex;
    width: 90%;
}

.project-left-imagery {
    /* float: left; */
    width: 65%;
    justify-content: center;
    align-content: center;
}

.project-left-text {
    width: 35%;
    justify-content: center;
    align-content: center;
}

.project-right-imagery {
    /* float: right; */
    width: 65%;
    justify-content: center;
    align-content: center;
}

.project-right-text {
    width: 35%;
    justify-content: center;
    align-content: center;
}

.home-grid {
    min-height: 1500px;
    width: auto;
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(20, 5%);
    grid-template-rows: repeat(20, 5%);
    align-self: stretch;
    align-content: center;
    justify-self: stretch;
    justify-content: center;
}

#home_headline1 {
    grid-column: 10/11;
    grid-row: 1/2;
    text-align: center;
    text-justify: auto;
}

#home_p1 {
    font-family: 'Exo 2', Helvetica, sans-serif;
    grid-column: 3/18;
    grid-row: 2/3;
    text-align: justify;
}

#home_main_img {
    width: auto;
    max-width: max-content;
    grid-column: 5/16;
    grid-row-start: 4;
    grid-row-end: 21;
    justify-self: center;
}

/* #home_headline2_bg {
    grid-column: 6/11;
    grid-row: 5;
    background-color: #3168d8;
    opacity: 25%;
} */

#home_headline2 {
    width: fit-content;
    grid-column: 6/10;
    grid-row: 4/6;
    justify-self: center;
    align-self: center;
    z-index: 1;
}

#home_p2_bg {
    grid-column: 11/15;
    grid-row: 8/14;
    background-color: #3168d8;
    opacity: 25%;
}

#home_p2 {
    grid-column: 11/15;
    grid-row: 8/14;
    font-family: 'Exo 2', Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 15px #020F1F;
    z-index: 1;
    justify-self: center;
    align-self: center;
}

main h2, main p, main img {
    padding: 10px;
}

main a {
    color: #EFEFEF;
}

main a:hover {
    text-decoration: none;
}

main a:visited {
    color: #3168d8;
}

.button {
    font-family: 'Exo 2', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: #020F1F;
    color: #3168d8;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.button:hover {
    background-color: #020F1F;
    color: #EFEFEF;
    font-weight: 700;
}

.button-boxes {
    text-align: center;
}

/* Tab Image Gallery CSS */
* {
    box-sizing: border-box;
  }
  
  /* body {
    margin: 0;
    font-family: Arial;
  } */
  
  /* The grid: Four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .column img {
    opacity: 0.8; 
    cursor: pointer; 
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container */
  .container {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #EFEFEF;
    font-size: 20px;
  }
  
  /* Closable button inside the expanded image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #EFEFEF;
    font-size: 35px;
    cursor: pointer;
  }
/* End of Tab Image Gallery CSS */

footer {
    font-family: 'Exo 2', Helvetica, sans-serif;
    background-color: #020F1F;
    color: #3168d8;
    width: 100%;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p {
    font-size: 1.2em;
}  

footer p a:hover {
    text-decoration: underline;
}    

footer a {
    color: #3168d8;
    text-decoration: none;
}

footer a:hover {
    color: #EFEFEF;
}

footer .content {
    width: 100%;
    align-content: center;
    justify-content: center;
}

footer .content, footer .social {
    display: flex;
}

footer .content p, footer .social p {
    padding: 10px;
    font-size: 18px;
    justify-self: center;
    align-self: center;
}

footer p:nth-of-type(1)  {
    padding-right: 25px;
    font-size: 22px;
}

footer .social {
    padding-left: 25px;
}

footer .social img {
    width: 50px;
    height: auto;
    padding: 25px;
}